.heroList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 40px 0;
    font-family: 'Open Sans';
}

.heroNotFound {
    font-size: 27px;
    margin-top: 30px;
    font-family: 'Open Sans';
}
