.button {
    height: 40px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid var(--accentLigthColor);
    font-family: 'Open Sans';
    background-color: var(--lightBgColor);
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 35px;
    transition: background-color 0.4s;
}

.button:hover {
    background-color: #f4c19d;
    border: 1px solid #f67823;
}
