.input {
    height: 35px;
    width: 400px;
    border: 1px solid var(--accentLigthColor);
    background-color: var(--lightBgColor);
    border-radius: 6px;
    padding: 4px 10px;
    font-family: 'Open Sans';
}

.button {
    height: 35px;
    width: auto;
    border-radius: 6px;
    border: 1px solid var(--accentLigthColor);
    padding: 4px 10px;
    font-family: 'Open Sans';
    background-color: var(--lightBgColor);
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.button:hover {
    background-color: #f4c19d;
    border: 1px solid #f67823;
}
